<h1>Logueate</h1>

<form action="/session/login" method="post" >
    Email: <input type="text" name="email" /><br>
    Password: <input type="text" name="password" /><br>
    <input type="submit" value="Iniciar Sesión">   
    <a href="/reset-password">¿Olvidaste tu contraseña?</a>
</form>
<div>

    <p>No tenes usuario?</p>
   <a href="/register">Registrate</a> <br>

   <a href="/api/session/github"> <button>Entra con Github </button></a>



</div>