<!-- views/cart-details.handlebars -->
<!DOCTYPE html>
<html>
  <head>
    <title>Detalles del carrito</title>
  </head>
  <body>
  <h1>Carrito de compras</h1>

<ul>
  {{#each cartItems}}
    <li>
      <h2>{{this.product.name}}</h2>
      <p>Precio: {{this.product.price}}</p>
    </li>
  {{/each}}
</ul>

<button><a href="/checkout">Proceder al checkout</a></button>
  </body>
</html>
