<div>
    
<div>
    
        <h1>Don Pedro Carnes</h1>
        <h2>La mejor carne de la ciudad</h2>
    <p>	Queres ver todas nuestras ofertas?</p>
    <a href="/session/login">Logueate</a>

    <p>No tenes usuario?</p>
   <a href="/register">Registrate</a> <br>
   
</div>
