<!DOCTYPE html>
<html>
  <head>
    <title>Detalles del producto</title>
  </head>
  <body>
   <h1>{{product.name}}</h1>
<p>Precio: {{product.price}}</p>
<p>{{product.description}}</p>
<button onclick="window.location.href='/cart/add/{{product._id}}'">Agregar al carrito</button>
    <a href="/api/products">Volver a la lista de productos</a>
  </body>
</html>