<h1>Checkout</h1>

<ul>
  {{#each cartItems}}
    <li>
      <h2>{{this.product.name}}</h2>
      <p>Precio: {{this.product.price}}</p>
    </li>
  {{/each}}
</ul>

<p>Total: {{total}}</p>

<form action="/checkout" method="post">
  <button type="submit">Confirmar compra</button>
</form>